diffusers
#accelerate==0.25.0
#datasets==2.19.1
#einops==0.8.0
kornia
#numpy==1.26.4
#opencv-python==4.9.0.80
#peft==0.10.0
#pyrallis==0.3.1
#tokenizers==0.15.2
#torch
#torchvision==0.15.2
#transformers==4.36.2
#gradio==4.44.1